.custom-container {
  max-width: 600px !important;
}

.window-width {
  width: 100vw;
}

.spinner {
  position: fixed;
  left: 45%;
  top: 30%;
}

.nav-bar {
  background-color: #4472C4;
  color: #f2f2f2;
  height: 400px;
}